<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="scripts1.Login"/>
      <class name="scripts1.AddAddress"/>
      <class name="scripts1.Homepage1"/>
      <class name="scripts1.SearchItem"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
